<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="">
   <meta name="author" content="">
   <title>Personal Blog</title>
   <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

   <!-- markdown code highlight -->
   <link rel="stylesheet" href="/lib/css/prism.css">

   <!-- self define style -->
   <link rel="stylesheet" href="/css/common.css">
   <link rel="stylesheet" href="/css/backend.css">

   <!-- react tags -->
   <link rel="stylesheet" href="/lib/css/reactTags.css">

   <!-- datepicker -->
   <link rel="stylesheet" href="/lib/css/react-datepicker.css">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css">

   <base href="/" />
 </head>
 <body>
<div id="admin"></div>
<script src="/admin.js" charset="utf-8"></script>
<script src="lib/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/style.js">
</body>
</html>
