  <!-- Footer -->
  <footer class="site-footer">
      <ul class="list-inline text-center">
          <li class="list-inline-item">
                  <a href="https://twitter.com/gxy26904?lang=en">
                          <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                          </span>
                  </a>
          </li>
          <li class="list-inline-item">
                  <a href="https://www.facebook.com/profile.php?id=100004292980896">
                          <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                          </span>
                  </a>
          </li>
          <li class="list-inline-item">
                  <a href="https://github.com/NilGE">
                          <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                          </span>
                  </a>
          </li>
          <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/xiangyu-ge-162426b0/">
                          <span class="fa-stack fa-lg">
                                  <i class="fa fa-circle fa-stack-2x"></i>
                                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                          </span>
                  </a>
          </li>
      </ul>
      <p class="copyright text-center">Copyright &copy; NILGE Website 2017</p>
  </footer>

  <script src="/public.js" charset="utf-8"></script>

  <!-- jQuery Version 3.1.1 -->
  <script src="lib/jquery/jquery-3.2.1.min.js"></script>

  <script type="text/javascript" src="js/style.js">

  </script>
</body>
</html>
