@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Merriweather:300,700,700italic,300italic|Open+Sans:700,400);
/* ==========================================================================
	1. Basic
	========================================================================== */
* {
  margin: 0;
  padding: 0;
  /*	background: #000 !important;*/
  /*	color: #0f0 !important;*/
  /*	outline: solid #f00 1px !important;*/ }

html, body {
  height: 100%; }

body {
  font-family: "Merriweather", serif;
  letter-spacing: 0.01rem;
  color: #3A4145;
  text-rendering: geometricPrecision;
  line-height: 1.75em; }

a {
  text-decoration: none;
  transition: color 0.3s ease; }

h1, h2, h3, h4, h5, h6 {
  color: #2E2E2E;
  line-height: 1.15em;
  margin: 0 0 0.4em 0;
  font-family: "Open Sans", sans-serif;
  text-rendering: geometricPrecision; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

p, ul, ol, dl {
  -webkit-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  -moz-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  margin: 0 0 1.75em 0;
  text-rendering: geometricPrecision; }

input {
  height: 35px;
  font-size: 14px;
  border: 1px solid #dfe1e3;
  border-radius: 4px;
  padding-left: 10px;
  font-weight: 400;
  width: 100%;
  margin: 0px; }

.text-center {
  text-align: center; }

.full-screen {
  height: 100vh; }

/*button setting*/
.btn {
  border: 1px solid;
  border-radius: 3px;
  transition: all 0.5s ease;
  height: 38px;
  background-color: transparent;
  opacity: 1;
  text-align: center;
  white-space: nowrap; }
