@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Merriweather:300,700,700italic,300italic|Open+Sans:700,400);
/* ==========================================================================
	1. Basic
	========================================================================== */
* {
  margin: 0;
  padding: 0;
  /*	background: #000 !important;*/
  /*	color: #0f0 !important;*/
  /*	outline: solid #f00 1px !important;*/ }

html, body {
  height: 100%; }

body {
  font-family: "Merriweather", serif;
  letter-spacing: 0.01rem;
  color: #3A4145;
  text-rendering: geometricPrecision;
  line-height: 1.75em; }

a {
  text-decoration: none;
  transition: color 0.3s ease; }

h1, h2, h3, h4, h5, h6 {
  color: #2E2E2E;
  line-height: 1.15em;
  margin: 0 0 0.4em 0;
  font-family: "Open Sans", sans-serif;
  text-rendering: geometricPrecision; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px;
  border-bottom: 1px solid #ccc; }

p, ul, ol, dl {
  -webkit-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  -moz-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  margin: 0 0 1.75em 0;
  text-rendering: geometricPrecision; }

.text-center {
  text-align: center; }

.full-screen {
  height: 100vh; }

/*button setting*/
.btn {
  border: 1px solid;
  border-radius: 3px;
  transition: all 0.5s ease;
  height: 38px;
  background-color: transparent;
  opacity: 1;
  text-align: center;
  white-space: nowrap; }

/* ==========================================================================
	2. Navbar
	========================================================================== */
.nav {
  position: absolute;
  z-index: 2;
  width: 100%; }

/*menu button*/
.menu-button {
  float: right;
  height: 38px;
  padding: 0 15px;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 35px;
  color: #fff;
  border-color: #fff;
  margin: 50px; }

.menu-button:hover {
  background-color: #fff;
  color: #000; }

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 3;
  /* Stay on top */
  top: 0;
  right: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  font-family: "Open Sans", sans-serifscreen; }

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s; }

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
  color: #f1f1f1; }

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  top: 0;
  padding-right: 25px;
  font-size: 20px;
  text-align: right; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

/*body animation smoother*/
#body-wrapper {
  transition: margin-right .5s; }

/* ==========================================================================
	3. header
	========================================================================== */
/* ==========================================================================
	3.1 header picture
	========================================================================== */
.header {
  position: relative;
  width: 100%;
  /* Set a specific height */
  min-height: 500px; }

.parallax {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
header {
  transition: margin-right .5s;
  padding: 0px; }

/* attched effect */
header::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, transparent 0, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.8) 100%); }

/* ==========================================================================
	3.2 title
	========================================================================== */
.title-group {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

.maintitle {
  color: #fff;
  font: normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
  -webkit-animation: fade-in-down 0.6s;
  animation: fade-in-down 0.6s both;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.subtitle {
  font-size: 20px;
  line-height: 1.5em;
  font-weight: 400;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.01rem;
  color: rgba(255, 255, 255, 0.8);
  -webkit-animation: fade-in-down 0.9s;
  animation: fade-in-down 0.9s both;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  border-bottom: none; }

/* ==========================================================================
	3.3 scroll button
	========================================================================== */
.scroll-btn:hover {
  opacity: .5; }

.scroll-btn {
  padding-top: 70px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s; }

.scroll-btn span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box; }

/* ==========================================================================
	4 post in list
	========================================================================== */
#content {
  padding-top: 40px; }

.post {
  position: relative;
  width: 100%;
  max-width: 710px;
  margin: 40px auto;
  padding-bottom: 40px;
  border-bottom: #EBF2F6 1px solid;
  word-wrap: break-word; }

.post-header h2 {
  border-bottom: none; }

.post-title a {
  font-size: 36px;
  color: #4A4A4A; }

.post-title a:hover {
  color: #000; }

.post-snippet p {
  font-size: 16.2px;
  color: #3A4145;
  line-height: 1.7em; }

.post-meta {
  margin: 1.75rem 0 0 0;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #9EABB3; }

.post-meta a {
  color: #9EABB3; }

.post-meta a:hover {
  color: #000; }

.author-thumb {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 9px;
  border-radius: 100%; }

/* ==========================================================================
	5 pagination
	========================================================================== */
/*pagination*/
.pagination {
  position: relative;
  width: 80%;
  max-width: 710px;
  margin: 40px auto;
  padding-bottom: 40px; }

.newer-post, .older-post {
  position: absolute;
  padding: 0 15px;
  border-radius: 4px;
  transition: border 0.3s ease;
  height: 31px;
  color: #bfc8cd; }

.newer-post:hover, .older-post:hover {
  border-color: #9EABB3; }

.older-post {
  right: 0; }

/* ==========================================================================
	6 footer
	========================================================================== */
/*list inline*/
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none; }

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px; }

.list-inline a {
  color: #4A4A4A; }

.list-inline a:hover {
  color: #000; }

.copyright {
  margin: 20px;
  color: #BBC7CC;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  position: relative; }

.site-footer {
  position: relative;
  font-size: 1rem;
  line-height: 1.75em; }

/* ==========================================================================
	7. Post page
	========================================================================== */
.post-article {
  max-width: 850px; }

h1.post-title {
  font-size: 50px; }

.post-content {
  padding-top: 50px; }

/* ==========================================================================
	8. Animations
	========================================================================== */
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0; } }

@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0; } }

/* Used to fade in title/desc on the home page */
@-webkit-keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
